<!DOCTYPE html>
{% load static%}
<html lang="en"> 
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 <title>MasukanData</title>
 <link rel="icon" href ="img/insTravel.png" type="image/x-icon">
</head>
<body>
    <div class="container">
     <div class="row" style="margin-top: 3vh;">
		<div class="col">
			<img src="{% static 'img/insTravel.png'%}" class="card-img-top" style ="max-width: 30%;">
		</div>
		<div class="row text-right">  
			<a href="/daftar/"><button class="btn" type="submit" style="border-color:black; color: black;background-color: white;margin-right:6vh;border-radius: 7px;" >List Destinasi</button></a>
		</div>
	</div>
	<form method="POST" action="." style="color: #09B291;margin-top: 3vh">
		{% csrf_token %}
		{{form}}
		<div class="text-right">
			<button type="submit" class="btn btn-success" style="background-color: #09B291; border-radius: 7px;">Add</button>
		</div>
		</form>
        </div>
      </div>
    </div>
  </body>
</html>