{% extends './base.html' %}
{% block content %}
        <div class="container">
        <div class= row>
            <div class= column>
            <div class = row>
                <h1>{{ wisata.tempat}}</h1>
            </div>
            <div class = row>
                <p> 
                    {{ wisata.deskripsi }}
                </p>
            </div>
            <div class = row>
                <p>{{ wisata.harga }}</p>
            </div>
            <div class = row>
                <table>
                    <tbody>
                        {% for objek in data %}
                     <tr>
                        <td>{{objek.name}} :</td>
                        <td>{{objek.comment}}</td>
                    </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
            <div class=row>
                <form method='POST' action=".">
                    {% csrf_token %}
                    <table>
                    <tr>
                        <td>{{form.name.label}} </td>
                        <td>{{form.name}}</td>
                        <td>{{form.comment.label}} </td>
                        <td>{{form.comment}}</td>
                        <td> <button type="submit" class="btn btn-success" style="align-self: center">Add</button></td>
                    </tr>
                    </table>                   
                </form>
            </div>

        </div>
        </div>
{% endblock %}
