html{
  scroll-behavior: smooth;
}

body{
   height: 100%;
   width: 100%;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   color: #FFFFFF;
   font-size: 50px;
   letter-spacing: 0.05em;
   position: absolute;
}

.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.topnav a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: #09B291;
}

.topnav a.active {
  color: #09B291;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1270px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1279.9918px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background: #09B291;
  color: #FFFFFF;
}

#answer:hover{
  text-decoration: underline;
}

.btn:active {
  background: #09B291;
  color: #FFFFFF;
}

.row {
  /*border: 1px solid black;*/
  display: flex;
}

.col {
  /*border: 1px solid black;*/
  font-size: 20px;
  display: flex;
  line-height: 1.5;
}

.threebutton{
	padding-top: 10%;
}

.ask {
	color: #09B291;
	border: 1px solid #09B291;
}

.answer{
  color: #784299;
  border: 1px solid #784299;
  border-radius: 3%;
}

.answer:hover{
  background-color: #784299;
  color: #FFFFFF;
}

hr.line {
	border: 1px solid #09B291;
}

hr.line2 {
  border: 1px solid #FFFFFF;
  padding: 5%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 10%;
  right: 10%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 1000px;
  max-height: 600px;
  width: 965px;
  height: 579px;
  padding: 20px;
  background-color: white;
  color: #000000;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.kotak{
  margin-right: 16%;
  margin-left: 9%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #09B291;
  opacity: 0.5;
  border-radius: 3%;
  font-size: 20px;
}

.kotak2{
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #784299;
  color: #FFFFFF;
  opacity: 0.5;
  border-radius: 3%;
  font-size: 20px;
}

#answer{
  /*border: 1px solid #FFFFFF;*/
  font-size: 15px;
}

.recent{
  background-color: #09B291;
  color: #FFFFFF;
}

.form-container2 input[type=text], textarea {
  background: #f1f1f1;
  border: none;
}

.form-container2 input[type=text]:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}