{% load static %}

<html>
<head>
    <title>InsTravel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>


<body>
    <header class="half container-fluid flex-column flex-lg-row" style="padding-top: 5%">
        {% include 'nav.html' %}
        <div class="col-sm d-flex justify-content-center align-items-center" style="padding-top: 2%; padding-bottom: 0;">
            <form class="d-flex flex-column my-2 w-75" method="POST" action=".">
                <div class="container">
                    <div class="row">
                        {% csrf_token %}
                        {% for x in musim %}
                        <div class="col-6">
                            <p> {{ x }}</p>
                        </div>
                        {% endfor %} 
                        <h4>Harga: </h4>
                        {% csrf_token %}
                        {% for y in harga %}
                        <div class="col-4">
                            <p > {{ y }}</p>
                        </div>
                        <div>
                            <button class="btn" type="submit" style="background-color:darkred; color: white;">Filter</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </header>

    <section class="text-center">
        <div class="card-deck " style=" display: flex; flex: wrap; padding-left: 15%; padding-right: 15%; padding-top: 2%;">
            {% for parwis in data %}
            <div class="col-3 text-center" style="max-width: 25%;">
                <img src="{% static 'img/fototempat.png' %}" class="card-img-top"> 
                <div class="card-body">
                <h5 class="card-title text-center">{{ parwis.nama }}</h5>
                <p class="card-text text-center">{{ parwis.tempat }}</p>
                <p class="card-text text-center"><small class="text-muted"> {{parwis.harga}} </small></p>
                <a href="{% url 'detail' id=parwis.id %}"> <button class="btn" type="button" style="background-color:darkred; color: white; font-size: 2vh;">Details</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>